/* frontend/src/styles/tokens.css */
:root{
  --bg:#ffffff;
  --fg:#111827;
  --muted:#f3f4f6;
  --muted-fg:#6b7280;
  --border:#e5e7eb;

  --primary:#111827;
  --primary-fg:#ffffff;

  --danger:#d10000;

  --warn:#d10000;
  --warn-bg:#fbf9da;

  --radius-lg:12px;
  --radius-md:10px;
}
